appdirs==1.4.3
appnope==0.1.0
arrow==0.10.0
backcall==0.1.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
binaryornot==0.4.0
bleach==2.0.0
brewer2mpl==1.4.1
certifi==2017.1.23
chardet==2.3.0
click==6.7
configparser==3.5.0
cookiecutter==1.5.1
cycler==0.10.0
decorator==4.0.11
entrypoints==0.2.2
enum34==1.1.6
ez-setup==0.9
future==0.16.0
ggplot==0.11.5
gnureadline==6.3.3
html5lib==0.999999999
idna==2.6
ipykernel==4.5.2
ipython==6.5.0
ipython-genutils==0.1.0
ipywidgets==6.0.0
jedi==0.12.1
Jinja2==2.9.5
jinja2-time==0.2.0
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.0.0
jupyter-console==5.1.0
jupyter-core==4.3.0
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.3
mistune==0.7.3
mock==1.0.1
nbconvert==5.1.1
nbformat==4.3.0
nltk==3.0.2
nose==1.3.6
notebook==4.4.1
numpy==1.15.0
packaging==16.8
pandas==0.23.3
pandasql==0.7.3
pandocfilters==1.4.1
parso==0.3.1
pathlib2==2.2.1
patsy==0.4.1
pexpect==4.2.1
pickleshare==0.7.4
poyo==0.4.0
prompt-toolkit==1.0.15
ptyprocess==0.5.1
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
pyzmq==16.0.2
qtconsole==4.2.1
requests==2.18.4
scandir==1.5
scipy==0.19.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
SQLAlchemy==1.1.15
statsmodels==0.8.0
terminado==0.6
testpath==0.3
tornado==4.4.2
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5
whichcraft==0.4.0
widgetsnbextension==2.0.0
